<div class='floatright inline' id='leftside'>
<div id='movieblock'>

<span class='header'>FAQ</span>

<br/>
<br/>
<div>
 <span class='question'>WTF is this for?</span>
 <br/>
 <span class='answer'>This is so that I can learn how to put together a functional and superbly sweet website together in under 6 hours. In fact so far it's only been about 3!</span>
 <br/>
 <br/>
 <span class='question'> How did you make this look so awesome? </span>
<br/>
<span class='answer'> The simple answer: I stole the looks, the colors, and copied most of the code. The more complicated - Rails, CSS3, HTML5!</span>
<br/>
<br/>
<span class='question'>Where is the BMI and Mort/Calc?</span><br/>
<span class='answer'>Not here. </span>

</div>


</div>
</div>