body{
  background: #111;
  color: white;
  text-decoration: none;
}
a:hover{
  color: #FAF;
  text-decoration: none;
}
a:visted{
  text-decoration: none;
}
nav{
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
}

div.navdiv{
display: inline;
margin: auto 30px;
}

div.mid{
  font-size: 2em;
}
